POSTGRES_USER=mediturnos
POSTGRES_PASSWORD=cambiar_esta_contrasena
POSTGRES_DB=mediturnos

DATABASE_URL=postgresql+psycopg://mediturnos:cambiar_esta_contrasena@db:5432/mediturnos
APP_TIMEZONE=America/Argentina/Buenos_Aires
CORS_ALLOWED_ORIGINS=["http://localhost:5173","http://127.0.0.1:5173"]

JWT_SECRET_KEY=reemplazar_por_una_clave_larga_y_aleatoria
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60

MERCADO_PAGO_ACCESS_TOKEN=TU_ACCESS_TOKEN_DE_PRUEBA
MERCADO_PAGO_WEBHOOK_SECRET=TU_CLAVE_SECRETA_DEL_WEBHOOK
